<%- include("head_part.ejs")%>

<form action="/signup" method="post">
    <input type="email" name="email" id="">
    <input type="password" name="password id="">
    <input type="password" name="repeatPassword" id="">
    <input type="submit" value="Zarejestruj">
</form>

<%- include("foot_part.ejs")%>